
  .icon {
    padding: 100px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }

  .icon:hover {
    cursor: pointer;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  .input-error {
    border: 2px solid red;
  }
  
  .icon-error {
    background: red;
  }
  